anytree==2.12.1
tqdm==4.66.2
requests==2.31.0
numpy==1.26.4
pandas==2.2.1
torch==2.2.2
transformers==4.30.2
datasets==2.18.0
psutil==5.9.8
argparse==1.1
pickle==0.7.5
peft @ git+https://github.com/huggingface/peft.git@e536616888d51b453ed354a6f1e243fecb02ea08
